body {
  background-color: #AFEEEE;
  font-family: "Verdana", sans-serif;
  color: Purple;
}
h1 {
  color: CornSilk;
  font-family: "Tahoma", sans-serif;
  font-weight: 600;
  font-style: normal;
}
h2 {
  font-family: "Tahoma", sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav ul {
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  /*padding: 10px;*/
  border-radius: 10px;
  /*display: flex;*/
    justify-content: flex-start;
    
    padding: 0.5em;
        display: flex;
        flex-direction: column;
}
nav ul li {
  /*list-style-type: none;*/
  /*display: inline;*/
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  color: PapayaWhip;
  
  
  text-align: center; 
        list-style-type: none;
        margin-right: 0.5em;
        margin-left: 0.5em;
        
}
nav ul li a {
  text-decoration: none;
  color: Brown;
}




/*section {*/
/*  border-top-style: solid;*/
/*  border-top-width: 2px;*/
/*  border-top-color: #F5FFFA;*/
/*  padding-bottom: 10px;*/
/*}*/


article {
  border-radius: 10px;
  padding: 10px;
}


/*-------------------------------*/
/ * تمت الإضافة أثناء متابعة بطاقات سوشي* /

.smallPics {
        height: 60px;
        border-radius: 10px;
    }
    .card {
        width: 200px;
        height: 200px;
        border: 2px solid #F0FFFF;
        border-radius: 10px;
        box-sizing: border-box;
        margin-top: 10px;
        font-family: "Trebuchet MS", sans-serif;
        margin-left: auto;
    margin-right: auto;
    }
    .card:hover {
        border-color: #1E90FF;
    }

.cardLink {
        color: inherit;
        text-decoration: none;
    }

.cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }
    
    
  /*  .lightPurpleBackground {*/
  /*  background-color: #CFBFFF;*/
  /*}*/
  
  .sideNoteStyle {
    border: dotted 1px purple;
    background-color: #c1ebec;
    padding: 0.5em;
    margin: 0.5em;
  }
  
  .specialText {
      color: #FF4500;
      font-size: larger;
  }
  figure { 
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
  }
  
  
  
  .attPageLayoutGrid {
        display: grid;
        grid-column-gap: 0.5em;
        grid-row-gap: 1em;
        
        grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "agArticle"
        "agAside1"
        "agAside2";

        
    }
  
  .attGridArticle {
        grid-area: agArticle;
    }
    .attGridAside1 {
        grid-area: agAside1;
    }
    .attGridAside2 {
        grid-area: agAside2;
    }



 @media all and (min-width: 400px) {
        nav ul {
            flex-direction: row;
            justify-content: space-around;
        }
        .attPageLayoutGrid {
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
              "agArticle agArticle"
              "agAside1 agAside2";

        
        }
    }
    
 @media all and (min-width: 800px) {
        nav ul {
            flex-direction: row;
            justify-content: flex-end;
        }
    /*    .attPageLayoutGrid {*/
    /*    display: grid;*/
    /*    grid-column-gap: 0.5em;*/
    /*    grid-row-gap: 1em;*/
        
    /*    grid-template-rows: auto;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-areas: */
    /*    "agArticle agAside1"*/
    /*    "agArticle agAside2"*/
    /*    "agArticle .";*/

        
    /*}*/
    }
    
    
 @media all and (min-width: 700px) {
        /*nav ul {*/
        /*    flex-direction: row;*/
        /*    justify-content: flex-end;*/
        /*}*/
        .attPageLayoutGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "agArticle agAside1"
            "agArticle agAside2"
            "agArticle .";

        
      }
    }
    
    .lightbox{
      background: rgba(0,0,0,0.8);
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      visibility: hidden;
      z-index: 999;
  }
  .lightbox:target {
        visibility: visible;
    }

/*************************************************************/
/ * من الأنماط الجديدة Intermed * /

  .topDivider {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #F5FFFA;
    /*padding-bottom: 10px;*/
  }

  /*.myArticles {*/
  /*  border-radius: 10px;*/
  /*  background-color: #48D1CC;*/
  /*  padding: 10px;*/
  /*}*/

  .someSpacing {
    padding: 10px;
    margin-top: 20px;
  }

.darkerBackground {
  background-color: #85E0E0;
  /*color: #a52a2a;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: #F5FFFA;*/
    /*border-radius: 10px;*/
  }
  
  .mySpacing {
    padding: 10px;
    margin-top: 20px;
  }

.stylishBox {
  border-radius: 10px;
  background-color: #FFFFCC;
  color: #a52a2a;
  border: 2px solid #F5FFFA;
}

/*---------------------------------*/

.mediumPics {
  width: 200px;
  border-radius: 10px;
}
        
#frontPage {
  background: #c1ebec;
  background: linear-gradient(to right, #87CEFA, #c1ebec);
}

#welcomeText {
  animation-name: green-pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

#titoPicture {
  border-radius: 100%;
  width: 100px;
}
#imgTito:hover {
  animation-name: rollOver;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.sectionSpacing {
  padding: 1em;
  margin-top: 2em;
}

.purpleBackground {
  background-color: #9f80ff;
}

.greenBackground {
  background-color: #48D1CC;
}

.yellowBackground {
  background-color: #FFFFCC;
  color: #A52A2A;
}

.solidRoundBorders {
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}

.sectionSpacing {
  padding: 10px;
  margin-top: 20px;
}

.purpleBackground {
  background-color: #9f80ff;
}

.greenBackground {
  background-color: #48D1CC;
}

.niceLinks {
  text-decoration: none;
  color: #A52A2A;
}
.niceLinks:hover {
  color: PapayaWhip;
}


@keyframes green-pulse {
  0% {
    color: CornSilk;
  }
  50% {
    color: lightgreen;
  }
  100% {
    color: CornSilk;
  }
}



@keyframes rollOver {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


/**********************************
هذا القسم مخصص لتنسيق الجداول
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/